
:root {
    --acqua: #7fe5e5;      
    --arancio: #ffb36b;     
    --rosso: #e63946;       
    --giallo: #fff176;         
    --bianco: #ffffff;
    --grigio: #2b2b2b;
}

body {
    background-color: var(--acqua);
    color: var(--grigio);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

Titoli */

h1, h2, h3 {
    font-weight: bold;
    color: var(--rosso);
    margin-bottom: 15px;
}

a {
    color: var(--rosso);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--arancio);
}


.btn,
button {
    background-color: var(--arancio);
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    color: var(--grigio);
    font-weight: bold;
    cursor: pointer;
}

.btn:hover,
button:hover {
    background-color: var(--rosso);
    color: var(--bianco);
}
_________________________________


.btn-accept {
    background-color: #4caf50; 
    color: var(--bianco);
}

.btn-accept:hover {
    background-color: #3d8b40;
}

.btn-reject {
    background-color: var(--rosso);
    color: var(--bianco);
}

.btn-reject:hover {
    background-color: #b92f3a;
}



.card {
    background: var(--bianco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}


_____________________________________________

.highlight {
    background-color: var(--giallo);
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: bold;
}

/* Form

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--arancio);
    border-radius: 6px;
    margin-bottom: 15px;
}

input:focus, textarea:focus {
    border-color: var(--rosso);
    outline: none;
}

/* 

.navbar {
    background-color: var(--bianco);
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar a {
    margin-right: 20px;
    color: var(--rosso);
    font-weight: bold;
} */

/* Tablet */
@media (min-width: 640px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop piccolo */
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop grande */
@media (min-width: 1280px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}